@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    background-color: var(--bg);
    width: 1563px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    filter: blur(5px);
  }
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }

@media (max-width: 1563px) {
    .container {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    .container {
        width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        width: 475px;
    }
}

@media (max-width: 475px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        width: 380;
    }
}

@media (max-width: 380px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        width: 320px;
    }
}