@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Contrax Heavy';
  src: url('/fonts/Conthrax-SemiBold.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'At Pinko';
  src: url('/fonts/ATPinko-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #1e1e1e;
    color: var(--text)
}

a {
    text-decoration: none;
    color: inherit
}


.font-contrax {
  font-family: Contrax Heavy !important;
}

.font-atpinko {
  font-family: At Pinko !important;
}

.container {
    background-color: var(--bg);
    width: 1563px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex
}

.hero-section {
    position: relative
}

.hero-content {
    margin-top: 10%;
    width: 80%;
    color: white;
    z-index: 1
}

.hero-title {
    font-family: Contrax Heavy;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem
}

.hero-title-logo {
    font-family: Contrax Heavy;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem
}

.hero-description {
    font-size: 1.5rem;
    margin-bottom: 2rem
}

.hero-button {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    background-color: #9fe300;
    color: #1e1e1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #1e1e1e;
    color: #9fe300;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px 4px rgba(255,255,255,0.7);
}

.bg-hero {
  position: relative;
  overflow: hidden;
}

.bg-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/img-2.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  z-index: 0;
}

.bg-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.74);
  z-index: 1;
}

.bg-hero > * {
  position: relative;
  z-index: 2;
}

.bg-hero2 {
  position: relative;
  overflow: hidden;  
  z-index: 2;
}

.bg-hero2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/img-3.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  z-index: 0;
}

.bg-hero2::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.74);
  z-index: 1;
}

.bg-hero2 > * {
  position: relative;
  z-index: 2;
}


.content-bg {
    background-color: #9fe300
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

@media (max-width:1563px) {
    .container {
        width: 1366px
    }
}

@media (max-width:1366px) {
    .container {
        width: 1280px
    }
}

@media (max-width:1280px) {
    .container {
        width: 1024px
    }

    .hero-title {
        font-size: 2.25rem
    }

    .hero-description {
        font-size: 1rem
    }

    .hero-button {
        font-size: 1rem
    }
}

@media (max-width:1024px) {
    .container {
        width: 768px
    }

    .img {
        width: 60%;
        height: 60%
    }

    .overlay-content {
        align-items: baseline
    }

    .hero-content {
        margin-top: 15%
    }
}

@media (max-width:768px) {
    .container {
        width: 640px
    }

    .hero-title {
        font-size: 1.75rem
    }

    .hero-title-logo {
        font-size: 2.5rem
    }

    .img {
        width: 40%;
        height: 40%
    }
}

@media (max-width:640px) {
    .container {
        width: 475px
    }

    .hero-title {
        font-size: 1.5rem
    }
    .hero-title-logo {
        font-size: 2.5rem
    }

    .hero-button {
        padding: 0.75rem
    }
    .hero-get{
        font-size: 1.5rem;
    }
}

@media (max-width:475px) {
    .container {
        width: 380
    }

    .hero-button {
        padding: 0.75rem
    }

    .hero-title {
        font-size: 1.25rem
    }

    .hero-title-logo {
        font-size: 1.5rem
    }
    .hero-content {
        margin-top: 25%
    }

    .hero-description {
        font-size: 0.75rem;
        margin-bottom: 0.5rem
    }

    .hero-button {
        font-size: 0.75rem
    }
}

@media (max-width:380px) {
    .container {
        width: 320px
    }

    .hero-button {
        padding: 0.25rem
    }
}