@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

.font-georgia {
    font-family: Georgia, serif !important;
}

.container {
    background-color: var(--bg);
    width: 1563px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.hero-section {
    position: relative;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}

.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cambia el color del overlay si es necesario */
}

.hero-content {
    margin-top: 10%;
    width: 80%;
    color: white;
    z-index: 1;
}

.hero-title {
    font-family: Georgia, serif;
    font-size: 3rem;
    /* Tamaño del título ajustado */
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero-title-logo {
    font-family: Georgia, serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1.4rem;
    margin-bottom: 1rem;
}

.hero-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-button {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    background-color: #00126A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
}

.hero-button:hover {
    background-color: #73C239;
}

.bg-image-service {
    background-image: url('/textura-madera-1.jpg');
    background-repeat: repeat;
}

.bg-image-proyects {
    background-image: url('/textura-madera-2.jpg');
    background-repeat: repeat;
}

.bg-image-about {
    background-image: url('/textura-madera-4.jpg');
    background-repeat: repeat;
}

.bg-spec {
    background-image: url('/textura-madera-2.jpg');
    background-repeat: repeat;
    background-clip: content-box;
    background-position-y: 3.5rem;
}

.title-services {
    font-size: 2rem;
}

.content-bg {
    background-color: #212D38;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

@media (max-width: 1563px) {
    .container {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    .container {
        width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1024px;
    }

    .hero-title {
        font-size: 2.25rem;
    }

    .hero-description {
        font-size: 1rem;
    }

    .hero-title-logo {
        font-size: 2rem;
        letter-spacing: 1rem;
    }

    .hero-button {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
    }

    .img {
        width: 60%;
        height: 60%;
    }

    .overlay-content {
        align-items: baseline;
    }

    .hero-content {
        margin-top: 15%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 640px;
    }

    .hero-title {
        font-size: 1.75rem;
    }

    .hero-title-logo {
        font-size: 2rem;
        letter-spacing: 0.25rem;
    }

    .img {
        width: 40%;
        height: 40%;
    }
}

@media (max-width: 640px) {
    .container {
        width: 475px;
    }

    .hero-title {
        font-size: 1.5rem;
    }

    .hero-title-logo {
        font-size: 2rem;
        letter-spacing: 0.25rem;
    }

    .hero-content {
        margin-top: 7%;
    }

    .hero-button {
        padding: 0.75rem;
    }
}

@media (max-width: 475px) {
    .container {
        width: 380;
    }

    .hero-button {
        padding: 0.75rem;
    }

    .hero-title {
        font-size: 1.25rem;
    }

    .hero-description {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
    }

    .hero-title-logo {
        font-size: 0.75rem;
    }

    .hero-button {
        font-size: 0.75rem;
    }
}

@media (max-width: 380px) {
    .container {
        width: 320px;
    }

    .hero-button {
        padding: 0.25rem;
    }
}